body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Cairo', sans-serif;
    overflow: hidden;
}


.show {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.glow {
    text-shadow: 0 0 10px #fff,
                 0 0 20px #00e6ff,
                 0 0 30px #00e6ff;
}